.circle {
    vertical-align:middle;
    border-radius:50%;
    text-align:center;
    width:9px;
    height:9px;
    display:inline-block;
    margin-right:5px;
    background-color: #d2d2d8;
    padding: 5px;
    margin-bottom : 10px;
    margin-right: 10px;
    }
.one-third-small {
    margin-left: 10px;
 width:30px;
 display: inline-block;
 float: left;
 bottom: 0px;
}

#place_0 .tens {
    margin-top :60px;
}

#place_1 .tens {
    margin-top: 30px;
}

#place_2 .tens {
    margin-top: 30px;
}
.active {
background-color: #4c4e4a;
}