/* All the code for science goes here */
#science {
    background-color:#555;
    padding-bottom: 30px;
    font-weight: lighter;
}
#science #ex-title {
  padding-bottom: 24px;
font-size: 30px;
line-height: 12px;
}
.exe .label-ex{
    padding: 22px 0;
    color:#66c1ff;
     font-size:30px;
}

#science h1 {   
    margin: 0px;
padding: 0px;
text-transform: uppercase;
font-family: impact;
}
#science .container {

}
#science table {
    width:100%;
}
#science #science-logo {
    background: url("../images/science.jpg") no-repeat 0 0 ;
    width:900px;
    height: 400px;
}
#science #science-footer {
    background: url("../images/ftrscience.jpg") no-repeat 0 0 ;
    width:1000px;
    height:290px;
}
#science .form .row label {
    width:200px;
    display: inline-block;
}
#science .form .row input {
    width:500px;
    display: inline-block;
}
#science .form .row textarea {
    width:500px;
    display: inline-block;
}
#science .view {
    color : #555;
    background: #FBF9E2;
    padding: 0 15px;
    font-weight: normal;
    width:1000px;
}
#science .view .list-experiment {
border-bottom: 1px dashed #bbb;
    padding: 15px 10px;
    width:980px;
}
#science .list-widget {
    border-radius: 17px;
    padding:10px;
    background: #FBF9E2;
}
ul.yiiPager {
    padding:5px;
    margin-right: 400px !important;
font-size: 15px !important;
}
ul.yiiPager .selected a {
background: #fdfffb !important;
color: #FFFFFF;
font-weight: bold;
}
ul.yiiPager a:link, ul.yiiPager a:visited {
border: solid 1px #9aafe5;
font-weight: normal !important;
color: #5c5a5e !important;
padding: 1px 6px;
text-decoration: none;
}
.pager li>a, .pager li>span {
display: inline-block;
padding: 5px 14px;
background-color: transparent !important;
border: 1px solid #ddd;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}
.list-view .summary {
color: cadetblue;
font-size: 12px;
}